:root {
    --vp-c-brand-1: #feb444;
    --vp-c-brand-2: #e47c17;
    --vp-c-brand-3: #cc5c00;

    /* Button */
    --vp-button-brand-bg: var(--vp-c-brand-1);
    --vp-button-brand-text: var(--vp-c-black);
    --vp-button-brand-hover-text: var(--vp-c-black);
    --vp-button-brand-active-text: var(--vp-c-black);

    /* Badge */
    --vp-badge-tip-text: var(--vp-c-success-1);
    --vp-badge-tip-bg: var(--vp-c-green-soft);

    /* Home */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ffb22a 30%, #d42900);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #d42900 50%, #ffb22a 50%);
    --vp-home-hero-image-filter: blur(68px);
}

/* Changelog page */
.changelog-title-wrapper {
    position: relative;
}

.changelog-title-wrapper small {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 calc(12px - 50%);
}

/* Cookie */
.cky-preference-header .cky-btn-close img {
    margin-inline: auto !important;
}

.cky-cookie-audit-table th,
.cky-cookie-audit-table td {
    padding: 8px 16px !important;
    font-size: 14px !important;
    color: var(--vp-c-text-2) !important;
    background-color: var(--vp-c-bg-soft) !important;
    border: 1px solid var(--vp-c-divider) !important;
}

.cky-cookie-audit-table tr:nth-child(2n + 1) td,
.cky-cookie-audit-table tr:nth-child(2n) td {
    background: transparent !important;
}
